{% extends 'layout.html' %}

{% block content %}
    <section class="p-5">
        <div class="card p-4 w-50">
            <form method="post" action="/depart/{{ pid }}/edit/">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="departTitle" class="form-label">编辑部门 New Department</label>
                    <input type="text" name="title" class="form-control" id="departTitle" aria-describedby="namehelp"
                           value="{{ placeholder.title }}">
                    <div id="namehelp" class="form-text">此数据会储存至数据库</div>
                </div>
                <button type="submit" class="btn btn-primary">提交</button>
                <a href="" class="btn btn-success">刷新</a>
                <a href="/depart/list" class="btn btn-outline-danger">返回</a>
                <span style="color: red">{{ return_msg }}</span>
            </form>
        </div>
    </section>
{% endblock %}